@import 'pallette';

$backgroundGray: $gray1;
$textBlack: $black2;

// header
$downArrow: $gray1;
$topHeader: $blue3;
$bottomHeader: $blue4;
$electionDropdownText: $black3;
$electionDropdownDivider: $gray4;

// nav. drawer
$drawerBackground: $white1;
$drawerBorder: $gray2;
$navLink: $blue1;
$navColumnDivider: $gray3;
$navColumnBackground: $blue2;

// dropdown
$electionDropdown: $white1;

// general
$buttonBlue: $blue1;
$moduleBorder: $gray4;
$moduleBackground: $white1;
$pageHeader: $black2;

// table
$tableHeader: $black3;
$tableContent: $black1;
$tableRowSeparator: $gray5;

// dashboard
$sectionHeader: $gray6;
$activityBorder: $gray5;
$activityRow: $blue2;
$electionDropdownBorder: $gray4;

// SwitchButton
$switchBtnBackground: $gray7;
$switchBtnActiveSlider: $blue1;
$switchBtnInactiveSlider: $red1;
