@import "../../common/styles/colors";

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-cell {
  height: 40px;
}

.table-row {
  border-bottom: 1px solid $tableRowSeparator;
}

.empty-row {
  height: 40px;
}

.table-header-row {
  border-bottom: 2px solid $tableRowSeparator;
}
